.singleElementHeader {
    display: flow-root;
    border: 2px solid #dee2e6;
    background: #e9ecef;
    text-align: left;
    padding: 0 10px;
    font-size: 22px;
    font-weight: bold;
    color: #495057;
}

.singleElementHeaderLeft {
    float: left;
}

.singleElementHeaderRight {
    float: right;
}