.workoutPanelWrapper {
    border: 2px solid #dee2e6;
    margin: 10px;
}

.workoutPanelHeader {
    background: #e9ecef;
    text-align: left;
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #495057;
}

.workoutPanelContent {
    background: #343a40;
    color: #e9ecef;
}

.workoutPanelContentSimple {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.workoutPanelContentClickBorderR {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: #1a1c1f;
    border-right: 2px solid #0f1011;
    color: #c0c2c4!important;
    text-decoration: none!important;
    cursor: pointer;
}

.workoutPanelContentClick {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: #1a1c1f;
    color: #c0c2c4!important;
    text-decoration: none!important;
    cursor: pointer;
}

.workoutPanelContentClick:hover {
    color: #a4a6a8!important;
}

.displayInheritWithScroll {
    display: inherit;
    overflow-x: auto;
    padding: 0 !important;
}

.logButton {
    background: #0f1011 !important;
}